name: Build and Push Spring Boot Microservices

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push productMicroservice
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/product-microservice:latest ./productMicroservice
          docker push ${{ secrets.DOCKER_USERNAME }}/product-microservice:latest

      - name: Build & Push EmailNotificationService
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/email-notification-service:latest ./EmailNotificationService
          docker push ${{ secrets.DOCKER_USERNAME }}/email-notification-service:latest

      - name: Build & Push mockservice
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mockservice:latest ./mockservice
          docker push ${{ secrets.DOCKER_USERNAME }}/mockservice:latest
